{% extends "base.html" %}

{% block title %}To do List{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/calendar.css" %}{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link href="{% static "fullcalendar/fullcalendar.min.css" %}" rel="stylesheet">
    <script src="{% static "fullcalendar/fullcalendar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/calendar.js" %}" type="text/javascript"></script>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/">Main</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/calendar">Calendar</a>
    </li>
    {% if user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{% firstof user.get_short_name user.get_username %}</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12" style="margin: 50px auto;">
            <div id='calendar'></div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        const date = new Date();
        let y = date.getFullYear();
        let d = date.getDate();
        let m = date.getMonth();

       const calendar = $('#calendar').fullCalendar({
           selectable: true,
           events: [
               {% for todo in object_list %}
               {
                   textColor: 'white',
                   title: "{{ todo.title }}",
                   start: new Date({{ todo.start_date.year }}, {{ todo.start_date.month }}-1, {{ todo.start_date.day }}),
                   end: new Date({{ todo.end_date.year }}, {{ todo.end_date.month }}-1, {{ todo.end_date.day }}+1)
               },
               {% endfor %}
           ]
       })
    });
    </script>
{% endblock %}