{% extends "base.html" %}

{% block title %}To do List{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/todolist_list.css" %}{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/">Main</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/calendar">Calendar</a>
    </li>
    {% if user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{% firstof user.get_short_name user.get_username %}</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="col-md-6" style="margin: 50px auto;">
            <h1>To do</h1>
            <form class="form" style="margin: 50px auto;" action="." method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" style="width:70%; height:50px; margin:20px auto;" value="ADD" />
            </form>
        </div>
    </div>
{% endblock %}